site_name: "inspersec"

theme:
  name: 'material'
  language: 'pt-BR'  # Corrigido de 'languge' para 'language'
  palette:
    # Alternância para o modo claro
    - scheme: default
      toggle:
        icon: material/brightness-7  # Ícone do modo claro
        name: Switch to dark mode     # Nome do toggle para o modo escuro

    # Alternância para o modo escuro
    - scheme: slate
      toggle:
        icon: material/brightness-4  # Ícone do modo escuro
        name: Switch to light mode    # Nome do toggle para o modo claro

  features:
    - content.code.copy  # Adiciona a funcionalidade de copiar código

plugins:
  - search  # Habilita a busca no site

nav:
  - Home: index.md

  - Tutoriais:
    - Cadastro de horas de Atividade Complementar: Instalação/horasComplementar.md
    - Instalando o Kali WSL: Instalação/kaliWindows.md
    - Instalando a VPN do Haaukins: Instalação/vpnHaaukins.md
    - Criando uma Máquina Virtual (VM): Instalação/vmWindows.md

  - Aulas:
    - Red Team:
      - Aula 1:
          - Linux Básico: aulas/redTeam/aula1/basicLinux.md
          - Nmap: aulas/redTeam/aula1/nmap.md
      - Aula 2:
          - Burp Suite: aulas/redTeam/aula2/burpSuite.md
          - Criptografia: aulas/redTeam/aula2/criptografia.md
      - Aula 3:
          - Engenharia Social:
            - Sobre: aulas/redTeam/aula3/engenharia_social/sobre.md
            - GoPhish: aulas/redTeam/aula3/engenharia_social/gophish.md
            - Setoolkit: aulas/redTeam/aula3/engenharia_social/setoolkit.md
            - Sherlock: aulas/redTeam/aula3/engenharia_social/sherlock.md
            - Zphisher: aulas/redTeam/aula3/engenharia_social/zphisher.md
      - Aula 4:
        - Introdução: aulas/redTeam/aula4/introducao.md
        - GoBuster: aulas/redTeam/aula4/gobuster.md
        - John the Ripper: aulas/redTeam/aula4/john.md
        - XSS: aulas/redTeam/aula4/xss.md
        - WordList: aulas/redTeam/aula4/wordlist.md
        - Hash: aulas/redTeam/aula4/hashs.md

    - Blue Team:
      - Aula 1:
          - Fundamentos de Blue Team: aulas/blueTeam/aula1/fundamentos.md
          - Introdução ao Blue Team: aulas/blueTeam/aula1/intro.md
          - Wireshark: aulas/blueTeam/aula1/wireshark.md
      - Aula 2:
          - Redes: aulas/blueTeam/aula2/aula2.md

    - Game Hacking:
      - introdução: aulas/GameHacking/introducao.md

    - Virus:
      - Virus Basico: aulas/Virus/Aula1/aula1.md
      - RAT: 
          - Criando um Bot: aulas/Virus/Rat/discordbot.md
          - Criando um RAT : aulas/Virus/Rat/rat.md


  - Entregas:
    - Projetos:
      - Projeto 1: entregas/projetos/projeto1.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true  # Adiciona links nos números das linhas
      line_spans: __span     # Adiciona span em cada linha do código
      pygments_lang_class: true  # Identifica a linguagem do código para o tema Pygments
  - pymdownx.inlinehilite  # Realce de sintaxe para código inline
  - pymdownx.snippets      # Permite embutir conteúdo de outros arquivos
  - pymdownx.superfences    # Suporte avançado para blocos de código e aninhamento

